In [1]:
from lib.adapter.database.kv_store import KeyValueStore
from lib.adapter.database.session import SqlAlchemySession

In [2]:
session = SqlAlchemySession()
kv_store = KeyValueStore(session)

In [4]:
set_event('daily_turtle_trade_for_ETH/USDT', {
    'initialMoney': 70, 
    'frame': '1d', 
    'holdMoney': 63.954359, 
    'roundNumber': 0, 
    'holdCoin': 0, 
    'initialCoin': 0.0225773, 
    'latestMaxPrice': -1, 
    'startTime': 1714885083.767042, 
    'stopDeclineRate': 10, 
    'maxRound': 2, 
    'minWindow': 20, 
    'maxWindow': 20
})

In [3]:
with session:
    keys = session.execute('select `key` from events where `key` like \'%_TURTLE_PLAN_TURTLE_PLAN\'')
    for row in keys.rows:
        event = kv_store.get(row.key)
        kv_store.delete(row.key)
        kv_store.set(row.key.replace('_TURTLE_PLAN_TURTLE_PLAN', '_TURTLE_PLAN'), event)

    session.commit()

2024-07-17 22:14:52,772 - DEBUG - SQL: select `key` from events where `key` like '%_TURTLE_PLAN_TURTLE_PLAN'
2024-07-17 22:14:52,772 - DEBUG - params: None
2024-07-17 22:14:52,877 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:52,878 - DEBUG - params: {'key_1': 'BAKE/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:52,982 - DEBUG - SQL: DELETE FROM events WHERE events.key = :key_1
2024-07-17 22:14:52,982 - DEBUG - params: {'key_1': 'BAKE/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:53,090 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:53,090 - DEBUG - params: {'key_1': 'BAKE/USDT_1h_20_TURTLE_PLAN'}
2024-07-17 22:14:53,201 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:53,201 - DEBUG - params: {'key_1': 'BTC/USDT_1d_100_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:53,306 - DEBUG - SQL: DELETE FROM events WHERE events.key = :key_1
2024-07-17 22:14:53,307 - DEBUG - params: {'key_1': 'BTC/USDT_1d_100_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:53,414 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:53,414 - DEBUG - params: {'key_1': 'BTC/USDT_1d_100_TURTLE_PLAN'}
2024-07-17 22:14:53,520 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:53,520 - DEBUG - params: {'key_1': 'ETH/USDT_1d_100_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:53,630 - DEBUG - SQL: DELETE FROM events WHERE events.key = :key_1
2024-07-17 22:14:53,631 - DEBUG - params: {'key_1': 'ETH/USDT_1d_100_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:53,744 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:53,745 - DEBUG - params: {'key_1': 'ETH/USDT_1d_100_TURTLE_PLAN'}
2024-07-17 22:14:53,855 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:53,856 - DEBUG - params: {'key_1': 'FET/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:53,960 - DEBUG - SQL: DELETE FROM events WHERE events.key = :key_1
2024-07-17 22:14:53,961 - DEBUG - params: {'key_1': 'FET/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:54,068 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:54,069 - DEBUG - params: {'key_1': 'FET/USDT_1h_20_TURTLE_PLAN'}
2024-07-17 22:14:54,174 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:54,174 - DEBUG - params: {'key_1': 'HIGH/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:54,280 - DEBUG - SQL: DELETE FROM events WHERE events.key = :key_1
2024-07-17 22:14:54,281 - DEBUG - params: {'key_1': 'HIGH/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:54,390 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:54,391 - DEBUG - params: {'key_1': 'HIGH/USDT_1h_20_TURTLE_PLAN'}
2024-07-17 22:14:54,497 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:54,500 - DEBUG - params: {'key_1': 'MKR/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:54,605 - DEBUG - SQL: DELETE FROM events WHERE events.key = :key_1
2024-07-17 22:14:54,606 - DEBUG - params: {'key_1': 'MKR/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:54,700 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:54,700 - DEBUG - params: {'key_1': 'MKR/USDT_1h_20_TURTLE_PLAN'}
2024-07-17 22:14:54,824 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:54,825 - DEBUG - params: {'key_1': 'TRB/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:54,919 - DEBUG - SQL: DELETE FROM events WHERE events.key = :key_1
2024-07-17 22:14:54,919 - DEBUG - params: {'key_1': 'TRB/USDT_1h_20_TURTLE_PLAN_TURTLE_PLAN'}
2024-07-17 22:14:55,035 - DEBUG - SQL: SELECT events.key, events.context, events.type
FROM events
WHERE events.key = :key_1
2024-07-17 22:14:55,035 - DEBUG - params: {'key_1': 'TRB/USDT_1h_20_TURTLE_PLAN'}

In [20]:
'123123213'.replace('123', '45')

'4545213'